ccxt
pandas
ta
matplotlib
tqdm
python-dotenv
websockets
psutil
pybit
tabulate
rich
prometheus_client>=0.20.0
sortedcontainers
aiodns==3.0.0 # Added for compatibility with aiohttp
pycares==4.3.0 # Added for compatibility with aiodns